In [9]:
import numpy as np
import pandas as pd
from pandas_datareader.data import DataReader
from datetime import date
import datapackage

import yfinance as yf

In [10]:
###########################################Pull SP500 list from datahub#################################
data_url = 'https://datahub.io/core/s-and-p-500-companies-financials/datapackage.json'

# to load Data Package into storage
package = datapackage.Package(data_url)

# to load only tabular data
resources = package.resources
for resource in resources:
    if resource.tabular:
        data = pd.read_csv(resource.descriptor['path'])

#data.info()

In [11]:
col_list=['Symbol', 'Name', 'Sector', 'Market Cap']
sp_list=data[col_list]
sp_list['Market Cap']=sp_list['Market Cap'].div(1000000000)

sp_list.to_csv('./data/sp_list.csv', index=False)

c:\program files\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [4]:
########################################Loop in each ticker's history#########################
start=date(1990, 1, 1)
end=date(2020, 10, 30)

stock_list=sp_list['Symbol'].tolist()
stock_database=yf.download(stock_list, start, end, progress = False)
stock_database.head()

28 Failed downloads:
- RHT: No data found, symbol may be delisted
- TSS: No data found, symbol may be delisted
- APC: No data found, symbol may be delisted
- DPS: No data found for this date range, symbol may be delisted
- LLL: No data found, symbol may be delisted
- PCLN: No data found for this date range, symbol may be delisted
- LUK: No data found for this date range, symbol may be delisted
- WYN: No data found for this date range, symbol may be delisted
- RTN: No data found, symbol may be delisted
- JEC: No data found, symbol may be delisted
- GGP: No data found for this date range, symbol may be delisted
- CBS: No data found, symbol may be delisted
- HRS: No data found, symbol may be delisted
- UTX: No data found, symbol may be delisted
- HCP: No data found, symbol may be delisted
- HCN: No data found for this date range, symbol may be delisted
- TMK: No data found, symbol may be delisted
- VIAB: No data found, symbol may be delisted
- BRK.B: No data found, symbol may be delisted
- BBT: No data found, symbol may be delisted
- CELG: No data found, symbol may be delisted
- BF.B: No data found for this date range, symbol may be delisted
- BHGE: No data found, symbol may be delisted
- AGN: No data found, symbol may be delisted
- SYMC: No data found, symbol may be delisted
- CBG: No data found for this date range, symbol may be delisted
- DWDP: No data found, symbol may be delisted
- KORS: No data found for this date range, symbol may be delisted

           Adj Close                                                     \
                   A AAL AAP      AAPL ABBV ABC       ABT ACN      ADBE
Date
1990-01-02       NaN NaN NaN  0.268548  NaN NaN  0.484727 NaN  1.188336
1990-01-03       NaN NaN NaN  0.270351  NaN NaN  0.486477 NaN  1.247020
1990-01-04       NaN NaN NaN  0.271252  NaN NaN  0.485602 NaN  1.305702
1990-01-05       NaN NaN NaN  0.272153  NaN NaN  0.480352 NaN  1.335044
1990-01-08       NaN NaN NaN  0.273955  NaN NaN  0.528438 NaN  1.352692

                      ... Volume                                             \
                 ADI  ...     XL XLNX        XOM     XRAY       XRX XYL YUM
Date                  ...
1990-01-02  1.077744  ...    NaN  NaN  5326000.0  18000.0  572600.0 NaN NaN
1990-01-03  1.021757  ...    NaN  NaN  4980400.0  79200.0  806900.0 NaN NaN
1990-01-04  1.007760  ...    NaN  NaN  6013200.0  25200.0  457600.0 NaN NaN
1990-01-05  1.007760  ...    NaN  NaN  3854800.0  92400.0  454900.0 NaN NaN
1990-01-08  1.007760  ...    NaN  NaN  4302000.0  98400.0  352200.0 NaN NaN


           ZBH      ZION ZTS
Date
1990-01-02 NaN   53600.0 NaN
1990-01-03 NaN  111200.0 NaN
1990-01-04 NaN    1600.0 NaN
1990-01-05 NaN       0.0 NaN
1990-01-08 NaN    1600.0 NaN

[5 rows x 3030 columns]

In [5]:
stock_database=stock_database[['Adj Close']].copy()
stock_database.dropna(how='all', axis=1, inplace=True)
#stock_database.head()

In [6]:
stock_database.columns=stock_database.columns.droplevel()
stock_database.head()

,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACN,ADBE,ADI,...,XL,XLNX,XOM,XRAY,XRX,XYL,YUM,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1990-01-02,NaN,NaN,NaN,0.268548,NaN,NaN,0.484727,NaN,1.188336,1.077744,...,NaN,NaN,1.551055,0.839383,10.276201,NaN,NaN,NaN,2.005726,NaN
1990-01-03,NaN,NaN,NaN,0.270351,NaN,NaN,0.486477,NaN,1.247020,1.021757,...,NaN,NaN,1.535545,0.839383,10.365175,NaN,NaN,NaN,2.041542,NaN
1990-01-04,NaN,NaN,NaN,0.271252,NaN,NaN,0.485602,NaN,1.305702,1.007760,...,NaN,NaN,1.520034,0.805807,10.387417,NaN,NaN,NaN,2.041542,NaN
1990-01-05,NaN,NaN,NaN,0.272153,NaN,NaN,0.480352,NaN,1.335044,1.007760,...,NaN,NaN,1.512279,0.856170,10.409659,NaN,NaN,NaN,2.041542,NaN
1990-01-08,NaN,NaN,NaN,0.273955,NaN,NaN,0.528438,NaN,1.352692,1.007760,...,NaN,NaN,1.535545,0.822595,10.342933,NaN,NaN,NaN,2.041542,NaN

In [8]:
output_path='./data/'
stock_database.to_csv(output_path+'stock_database.csv')